:root {
    --main-color:teal;
    --main-color-white:white;
    --main-color-black:#1d1d1d;
    --main-color-gray:#808080;
    --main-color-gray-light:#ccc;
    --main-color-yellow:yellow;
    --main-color-orange:orange;
}